
.body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  .header{
    display: flex; 
    .header__storages{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 16px 35px 25px 10px;
      border: 2px solid lightgray;
      border-radius: 5px;
      margin-right: 50px;
      .radio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-self: stretch;
        .radio__input {
          position: absolute;
          z-index: -1;
          opacity: 0;
          margin: 10px 0 0 7px;
          &:checked+.radio__text:after {
            opacity: 1;
            }
          &:checked+.radio__text:before {
            background: blue;
            }
          }
        .radio__text {
          position: relative;
          padding: 0 0 0 35px;
          cursor: pointer;
          &:before{
            content: '';
            position: absolute;
            top: -3px;
            left: 0;
            width: 22px;
            height: 22px;
            border: 1px solid turquoise;
            border-radius: 50%;
            background: lightgrey;
          }
          &:after{
            content: '';
            position: absolute;
            top: 4px;
            left: 7px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: white;
            opacity: 0;
            transition: .2s;          
          }
        }
      }
    }
    .header__form{
      .inputs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .inputs__userdata{
          width: 200px;
          border: 2px solid lightgrey;
          margin-bottom: 10px;
          caret-color: green;
          color: green;
          font-size: large;
          height: 30px;
          width: 210px;
          border-radius: 5px;
          outline: none;
          padding-left: 10px;
        }
      }
      .buttons{
        display: flex;
        justify-content: space-between;
        .buttons__action{
          height: 40px;
          width: 224px;
          border-radius: 5px;
          outline: none;
          padding-left: 10px;
          font-size: large;
        }
        .create{
          background-color:rgb(17, 182, 39) ;
          color: white;
          border: none;
          &:hover{
            background-color:rgb(34, 241, 62) ;
            cursor: pointer;
            border-radius: 20px;
            box-shadow: 4px 5px 5px 0px grey;
          }  
        }    
        .update{
          background-color: gold ;
          color: black;  
          border: none;
          &:hover{
            background-color: yellow ;
            cursor: pointer;            
            border-radius: 20px;
            box-shadow: 4px 5px 5px 0px grey;
          }
        }
        .del{
          background-color:rgb(170, 11, 11) ;
          color: white;
          border: none;
          &:hover{
            background-color:red;
            cursor: pointer;            
            border-radius: 20px;
            box-shadow: 4px 5px 5px 0px grey;
          }        
        }
      }
    }
  }
  .title{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    margin: 15px 0px 10px 0px;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
    .title__header{
      width: 224px;
      padding: 10px 0px 10px 0px;
       font-size: 20px;
       display:inline-block;
     }
  }
  .list{
    padding: 0;
    .li{
      display: flex;
      justify-content: space-around;
      height: 50px;  
      align-items: center;
      &:hover{
        background: rgb(230, 225, 225);
      }
      .div{
        display: flex;
        width: 224px;
        justify-content: center;
      }
    }
  }
}

// .radio__input:checked + .radio__text:after {
// 	opacity: 1;
// }
// .radio__input:checked + .radio__text:before {
// 	background: blue;
// }










